*{
    margin: 0;
    padding: 0;   
}
.img {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translate(455%,-225%);
    border-radius: 15px;
    padding: 10px;
    margin: 35vh;
}
 .eitabicho {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 8%;
    
  }

.fundo{
    background-image: linear-gradient(45deg, black, blue);
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.calculadora{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}



.botao {
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    margin: 5px;
}


.botao:hover{
    background-color: black;
}

#resultado{
    background-color: white;
    width: 220px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}

.block-footer {
	padding: 430px;
	color: #fff;
	text-align: center;
}
